html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  background-image: url("../images/dollar.jpg");
  background-size: 200px;
  background-repeat: repeat;
  font-family: "Lato", sans-serif;
}
